<div class="sub-url text-center">
    <div class="form-inline">
        <div class="form-group">
            <select class="form-control" id="recommend-type">
                <option>Processing</option>
                <option>Openframeworks</option>
                <option>Vvvv</option>
                <option>Unity</option>
                <option>Cinder</option>
                <option>优秀作品</option>
                <option>最新Workshop</option>
                <option>展览</option>
                <option>博文</option>
                <option>数据可视化</option>
                <option>音乐可视化</option>
                <option>瞎推荐</option>
            </select>
            <input type="url" class="form-control" id="recommend-url" placeholder="干货 URL 地址">
            <input type="text" class="form-control" id="recommend-finder" placeholder="您的大名">
        </div>
        <button class="btn btn-default btn-success" id="recommend-submit" type=""> 提 交</button>
    </div>
</div>