<div class="sub-url text-center">
    <div class="form-inline">
        <div class="form-group">
            <select class="form-control" id="recommend-type">
                <option value="Processing">Processing</option>
                <option value="Openframeworks">Openframeworks</option>
                <option value="Vvvv">Vvvv</option>
                <option value="Unity">Unity</option>
                <option value="Cinder">Cinder</option>
                <option value="Works">优秀作品</option>
                <option value="Workshop">最新Workshop</option>
                <option value="Exhibition">展览</option>
                <option value="Blogs">博文</option>
                <option value="Data Visual">数据可视化</option>
                <option value="Music Visual">音乐可视化</option>
                <option value="Other">瞎推荐</option>
            </select>
            <input type="url" class="form-control" id="recommend-url" placeholder="干货 URL 地址">
            <input type="text" class="form-control" id="recommend-finder" placeholder="您的大名">
        </div>
        <button class="btn btn-default btn-success" id="recommend-submit" type="">莫着急</button>
    </div>
</div>