<div class="sub-url text-center">
    <form class="form-inline">
        <div class="form-group">
            <select class="form-control" id="recommend-type">
                <option>Processing</option>
                <option>Openframeworks</option>
                <option>Unity</option>
                <option>Cinder</option>
                <option>博文</option>
                <option>优秀作品</option>
                <option>最新Workshop</option>
                <option>最新展览</option>
            </select>
            <input type="url" class="form-control" id="recommend-url" placeholder="干货 URL 地址">
        </div>
        <button class="btn btn-default btn-success" type="recommend-submit"> 提 交</button>
    </form>
</div>