<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="canonical" href="{{ page.url }}" />

    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/css/inerd.css"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
          href="/feed.xml"/>
    <link rel="shortcut icon" type="image/ico" href="/assets/img/logo.png"/>

    <script type="text/javascript" src="//cdn.bootcss.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"></script>
</head>

<body >
<div id="wrapper-masthead" class="wrapper-masthead">
    <div class="container">
        <header class="masthead clearfix">
            <a href="/" class="site-avatar"><img src="/assets/img/logo.png"/></a>
            <div class="site-info">
                <p class="site-name"><strong><a href="/">i <span class="love">♥</span> nerd</a></strong></p>
                <p class="site-description">{{ site.description }}</p>
            </div>

            <nav>
                <a href="/works/">Works</a>
                <a href="/resource/">Resource</a>
                <a href="/workshop/">Workshop</a>
                <a href="/exhibition/">Exhibition</a>
                <a href="/about/">About</a>
            </nav>
        </header>
    </div>
</div>

<div id="main" role="main" class="container">
    {{ content }}
</div>

<!-- footer -->
<div id="wrapper-footer" class="wrapper-footer">
    <div class="container">
        <footer class="footer">
            {% include sub-email.html %}
        </footer>
        <p>&copy;2016 <a href="http://onlylemi.com" target="_blank">onlylemi</a>. All rights reserved.</p>
    </div>
</div>

{% include analytics.html %}
</body>
</html>
