<!DOCTYPE html>
<html>
<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="canonical" href="{{ site.url }}{{ page.url }}"/>

    <link rel="stylesheet" type="text/css" href="//cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/inerd.css"/>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}"
          href="{{ site.baseurl }}/feed.xml"/>
    <link rel="shortcut icon" type="image/ico" href="{{ site.baseurl }}{{ site.avatar }}"/>
    <script src="//cdn.bootcss.com/jquery/2.2.1/jquery.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script>
$(document).ready(function(){
  $("#recommend-submit").click(function(){
    $.get("http://www.w3school.com.cn/example/jquery/demo_test.asp",function(data, status){
      //alert(data);
      $("#recommend-finder").val(data);
    });
  });
});
</script>
</head>

<body>
<div id="wrapper-masthead" class="wrapper-masthead">
    <div class="container">
        <header class="masthead clearfix">
            <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.baseurl }}{{ site.avatar }}"/></a>
            <div class="site-info">
                <p class="site-name"><strong><a href="{{ site.baseurl }}/">i <span class="love">♥</span>
                    nerd</a></strong></p>
                <p class="site-description">{{ site.description }}</p>
            </div>

            <nav>
                <a href="{{ site.baseurl }}/works/">Works</a>
                <a href="{{ site.baseurl }}/resource/">Resource</a>
                <a href="{{ site.baseurl }}/workshop/">Workshop</a>
                <a href="{{ site.baseurl }}/history/">History</a>
                <a href="{{ site.baseurl }}/about/">About</a>
            </nav>
        </header>
    </div>
</div>
<div id="main" role="main" class="container">
    {% include sub-url.html %}
    <hr/>
    {{ content }}
</div>

<!-- footer -->
<div id="wrapper-footer" class="wrapper-footer">
    <div class="container">
        <footer class="footer">
            {% include sub-email.html %}
        </footer>
        <p>&copy;2016 <a href="http://onlylemi.com" target="_blank">onlylemi</a>. All rights reserved.</p>
    </div>
</div>

{% include analytics.html %}
</body>
</html>
